.vs/
.vscode/
.idea/
.vs2019/
*.suo
*.user*
*.userosscache
*.dbmdl
**/bin/
**/obj/
artifacts/
project.lock.json
project.fragment.lock.json
_*_migrations/
node_modules/
npm-debug.log*
yarn-error.log*
*.vsix
.vscode-test/
*.pdb
*.ipdb
*.zip
*.tar.gz
.DS_Store
Thumbs.db
ehthumbs.db


